@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Permanent+Marker&display=swap');

.container-md{
    background-image: url("../images/kiwihug-cqhXfrRHCPo-unsplash.jpg");
    background-size: cover;
    max-width: 600px;
    margin-top: 50px;

}

.mt-1{
    display: flex;
    justify-content: center;
    /*margin: 10px 0px 10px 0px;*/
}


#register-btn  {
    background-image: url("../images/katie-harp-oZgj_nQQvuo-unsplash.jpg");
    background-size: cover;
    margin: 10px 10px 10px 10px;
}