@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Permanent+Marker&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/erol-ahmed-Y3KEBQlB1Zk-unsplash.jpg");
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    padding: 50px 50px 50px 50px;
}

h1 {
    background-image: url("../images/olga-thelavart-vS3idIiYxX0-unsplash.jpg");
    background-size: cover;
    text-align: center;
    opacity: 90%;
}

.container-md{
    background-image: url("../images/kiwihug-cqhXfrRHCPo-unsplash.jpg");
    background-size: cover;
    max-width: 600px;
    margin-top: 40px;

}

.form-group{
    margin: 5px 0px 5px 0px;
}

.mt-1{
    display: flex;
    justify-content: center;
    /*margin: 10px 0px 10px 0px;*/
}

button {
    margin: 10px 10px 10px 10px;
}

#login-btn {
    margin: 10px 10px 10px 10px;
}